@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

html,
body {
    background-color: #f2f4fc;

}

html,
body,
input,
textarea {
    font-family: Roboto;
}

/* TEXT STYLES */
h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 50px;
    font-weight: 700;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
}

.h3-white {
    color: #ffffff;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
}

.body-intro-medium {
    font-size: 24px;
    font-weight: 500;
}

.body-intro-regular {
    font-size: 20px;
    font-weight: 400;
}

.headline-text-medium {
    font-size: 17px;
    font-weight: 500;
}

.headline-text-regular {
    font-size: 17px;
    font-weight: 400;
}

.caption1-regular {
    font-size: 15px;
    font-weight: 400;
}

.caption2-regular {
    font-size: 13px;
    font-weight: 400;
}

/* LINKS STYLES */
a {
    text-decoration: none;
}


.a-hover:hover {
    font-weight: 700;
    color: #A2D6F9
}


.a-selected {
    font-weight: bold;
    color: #072AC8;
}

.a-selected:hover {
    color: #A2D6F9;
}

.a-bottom {
    position: relative;
    bottom: 0px;
    left: 0px;
}

.btn {
    background-color: #072AC8;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    padding: 15px 36px;
    display: inline-block;
}

.btn:hover {
    font-weight: 700;
    color: #A2D6F9;
}

.btn-nobackground {
    text-align: center;
    padding: 15px 36px;
    display: inline-block;
}

.spacer {
    flex-grow: 1;
}


/* COLORS  */

.color-primary-default {
    color: #072AC8
}

.color-accent {
    color: #43D2FF;

}

.color-primary-hover {
    color: #A2D6F9;

}

.color-primary-tapped {
    color: #D1EDFF;

}

.color-neutral-dark {
    color: #292E47;

}

.color-neutral-medium {
    color: #6B708D;

}

.color-neutral-light {
    color: #F4F6FC;

}

.color-neutral-lightblue {
    color: #ECF7FF;

}

.color-secondary {
    color: #FFC600;

}