@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

html,
body {
    background-color: #f2f4fc;
    font-family: roboto;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 50px;
    font-weight: 700;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
}

.h3-white {
    color: #ffffff;
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

.body-intro-medium {
    font-size: 24px;
    font-weight: 500;
}

.body-intro-regular {
    font-size: 20px;
    font-weight: 400;
}

.headline-text-medium {
    font-size: 17px;
    font-weight: 500;
}

.headline-text-regular {
    font-size: 17px;
    font-weight: 400;
}

.caption1-regular {
    font-size: 15px;
    font-weight: 400;
}

.caption2-regular {
    font-size: 13px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #6B708D;
}

a :hover {
    font-weight: 700;
    color: #072AC8;
}

.btn {
    background-color: #072AC8;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    padding: 15px 36px;
}

.btn-nobackground {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    padding: 15px 36px;
    color: #6B708D;
}

/* HEADER STYLES */


header {
    height: 122px;
}

.header-logo {
    height: 18px;
    width: 60px;
    border-radius: 0px;

}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 170px;
    margin-right: 170px;
    align-items: center;


}

.navbar-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    gap: 60px;
}

/* HERO STYLES */

.hero-container {
    height: 650px;
    margin: 100px 170px 0px 170px;
    display: flex;
    flex-direction: row;
}

.hero-content {
    flex: 1;
    margin-top: 109px;
    width: 210px;
    height: 530px;
    padding-right: 0px;
}

.hero-content p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    height: 90px;
}

.hero-image-container {
    position: relative;
    width: 600px;
    min-width: 0px;
}


.hero-img img {
    height: 620px;
    width: 600px;
    transform: rotate(-6deg);
    position: absolute;
    z-index: 0;
}

.card1 img {
    height: 360px;
    position: absolute;
    z-index: 1;
    top: -20px;
    left: -100px;
}

.card2 img {
    height: 300px;
    position: absolute;
    z-index: 2;
    bottom: -80px;
    right: -60px;
}

/* CLIENT STYLES */

.client-link {
    margin: 130px 170px 0px 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    filter: grayscale(100%);
}

.client-link a {
    margin: 0px 40px;
}

/* PROJECT STYLES */

#projects {
    margin: 200px 170px 0px 170px;
}

.projects-slide img {
    height: 240px;
    width: 340px;

}

.projects-slide {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 70px;
}

.slide {
    margin: 0px;
    height: 444px;
    background-color: #ffffff;
    box-shadow: 0 0 30px #ccc;

}

.slide-text {
    margin-left: 30px;
    height: 204px;
}

.p-description {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
}

/* TESTIMONIAL STYLES */

.testimonial-container {
    background-color: #292E47;
    height: 622px;
    margin: 200px 60px 0px 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.testimonial-text {}

.testimonial-container p {
    color: #FFC600;
    font-size: 24px;
    font-weight: 500;
    width: 382px;
}

.testimonial-img {
    display: flex;
    flex-direction: row;

}

.testimonial-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.testimonial1 {
    height: 150px;
    width: 150px;
    z-index: 1;
    top: 51px;
    left: 76px;
    position: absolute;
}

.testimonial2 {
    height: 150px;
    width: 150px;
    z-index: 1;
    top: 51px;
    right: 72px;
    position: absolute;
}

.testimonial3 {
    height: 150px;
    width: 150px;
    z-index: 1;
    bottom: 73px;
    left: 76px;
    position: absolute;
}

.testimonial4 {
    height: 150px;
    width: 150px;
    z-index: 1;
    bottom: 73px;
    right: 72px;
    position: absolute;
}

/* SERVICES STYLES */

#services {
    margin: 200px 170px 0px 170px;
    /* position: absolute; */
}

.icon-img img {
    height: 50px;
    width: 50px;
}

.icon-img {
    height: 80px;
    width: 80px;
    background-color: #ECF7FF;
    border-radius: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.services-slide {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.unit-slide {
    margin: 0px;
    height: 380px;
    width: 340px;
    background-color: #ffffff;
    padding: 40px 30px;
    flex-direction: column;
    margin-top: 70px;
    box-shadow: 0 0 30px #ccc;
}

.slide-text {
    margin-left: 30px;
    height: 204px;
}




/* CONTACT STYLES */

.contact {
    height: 500px;
    margin: 136px 60px 0px 60px;
    background-color: #FFC600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-contact {
    display: flex;
    margin-top: 50px;
}

.form-email {
    position: relative;
}

.form-email img {
    position: absolute;
    top: 25px;
    left: 30px;
}

.form-email input {
    height: 80px;
    width: 393px;
    border: 0px;
    padding-left: 70px;
    margin-right: 20px;
}

.btn-form {
    border: 0px;
    background-color: #072AC8;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    padding: 15px 36px;
}

/* FOOTER STYLES */

.footer-container {
    display: flex;
    flex-direction: row;

}

.footer-list {
    list-style: none;
}