@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

html,
body {
    background-color: #f2f4fc;
    font-family: roboto;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;

}

h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #072AC8;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    padding: 15px 36px;
}

.btn-nobackground {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    padding: 15px 36px;
    color: #6B708D;
}

header {
    height: 122px;
}

.header-logo {
    height: 18.45703125px;
    width: 60.52734375px;
    left: 170.64453125px;
    top: 86.90625px;
    border-radius: 0px;

}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 170px;
    margin-right: 170px;
    align-items: center;


}

.navbar-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    gap: 60px;
}

.hero-container {
    height: 650px;
    margin-left: 170px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
}

.hero-content {
    align-items: center;
    flex: 1;
}

.hero-content p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding: 30px 0px;
    height: 90px;
}

.hero-image-container {
    position: relative;
    width: 600px;
    min-width: 0px;
}


.hero-img img {
    height: 620px;
    width: 600px;
    transform: rotate(-6deg);
    position: absolute;
    z-index: 0;
}

.card1 img {
    height: 360px;
    position: absolute;
    z-index: 1;
    top: -20px;
    left: -100px;
}

.card2 img {
    height: 300px;
    position: absolute;
    z-index: 2;
    bottom: -80px;
    right: -60px;
}