/* HEADER STYLES */


header {
    height: 122px;
}

.header-logo {
    height: 18px;
    width: 60px;
    border-radius: 0px;

}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px 170px 0 170px;
    align-items: center;
}

@media (max-width: 1007px) {
    #navbar {
        margin: 40px 40px 0 40px;
    }
}

@media (max-width: 640px) {
    #navbar {
        margin: 0;
    }
}

.navbar-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    gap: 60px;
}

/* HERO STYLES */

.hero-container {
    margin: 100px 170px 0px 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width:1007px) {
    .hero-container {
        margin: 0 40px 0 40px;
        background-color: #FFC600;
        padding: 20px;
    }
}

@media (max-width: 640px) {
    .hero-container {
        margin: 0 10px 0 10px;
        background-color: #FFC600;
        border-radius: 60px;
        padding: 70px;
    }
}



.hero-content {
    flex: 1;
    margin-top: 109px;
    width: 210px;
    padding-right: 0px;
}

@media (max-width:1007px) {
    .hero-content {
        margin: 0;
    }
}

@media (max-width: 640px) {
    .hero-content {
        margin: 0px;
    }
}

.hero-content p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}

.hero-image-container {
    position: relative;
    width: 600px;
    min-width: 0px;
}


.hero-img img {
    height: 620px;
    width: 600px;
    transform: rotate(-6deg);
}

.card1 img {
    height: 360px;
    position: absolute;
    z-index: 1;
    top: -20px;
    left: -100px;
}

.card2 img {
    height: 300px;
    position: absolute;
    z-index: 2;
    bottom: -80px;
    right: -60px;
}

/* CLIENT STYLES */

.client-link {
    margin: 130px 170px 0px 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    filter: grayscale(100%);
}


.client-link a {
    margin: 0px 40px;
}


/* PROJECT STYLES */

#projects {
    margin: 200px 170px 0px 170px;
}


.img-project {
    height: 240px;
    width: 100%;
    object-fit: cover;

}

.projects-slide {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 70px;
}

.slide {
    margin: 0px;
    flex: 1;
    background-color: #ffffff;
    box-shadow: 0 0 30px #ccc;
    min-width: 0;
}

.slide-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}


/* TESTIMONIAL STYLES */
#testimonial {
    margin-top: 200px;
}

.testimonial-container {
    background-color: #292E47;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 120px 110px;
    margin: 0 60px 0 60px;
}

.secondary-text {
    margin: 104px auto 0 auto;
    max-width: 596px;
}

.testimonial-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 105px auto 0 auto;
    align-items: center;
    gap: 10px;

}

.testimonial-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.testimonial-name {
    text-align: left;
}

.testimonial1 {
    height: 150px;
    width: 150px;
    z-index: 1;
    top: 51px;
    left: 76px;
    position: absolute;
}

.testimonial2 {
    height: 150px;
    width: 150px;
    z-index: 1;
    top: 51px;
    right: 72px;
    position: absolute;
}

.testimonial3 {
    height: 150px;
    width: 150px;
    z-index: 1;
    bottom: 73px;
    left: 76px;
    position: absolute;
}

.testimonial4 {
    height: 150px;
    width: 150px;
    z-index: 1;
    bottom: 73px;
    right: 72px;
    position: absolute;
}

/* SERVICES STYLES */

#services {
    margin: 200px 170px 0px 170px;
}

.icon-img img {
    height: 50px;
    width: 50px;
}

.icon-img {
    height: 80px;
    width: 80px;
    background-color: #ECF7FF;
    border-radius: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 40px 0 0 30px;
}

/* CONTACT STYLES */
#cta {
    margin-top: 136px;
}

.contact {
    margin: 0 60px 0 60px;
    background-color: #FFC600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.form-contact {
    display: flex;
    margin-top: 50px;
}

.form-email {
    position: relative;
}

.form-email img {
    position: absolute;
    top: 25px;
    left: 30px;
}

.form-email input {
    height: 80px;
    width: 393px;
    border: 0px;
    padding-left: 70px;
    margin-right: 20px;
}

.btn-form {
    border: 0px;
    background-color: #072AC8;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    padding: 15px 36px;
}

/* FOOTER STYLES */
#footer {
    margin-top: 170px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    margin: 30px 170px 100px 170px;
    justify-content: space-between;

}

.footer-list ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 106px;
}

.footer-list ul:last-child {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 106px;
    margin-top: 60px;
}

.footer-list il {
    flex: 1;
}

/* MAIN PROJECT STYLES */
#main-project {
    margin: 140px 170px 0px 170px;
}

.description-main-project {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-top: 80px;

}

.main-project-img {
    width: 100%;
    height: 444px;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    display: flex;
    /* margin-bottom: 70px; */
}

.main-project-img-back {
    width: 100%;
    height: 444px;
    object-fit: cover;
    filter: blur(20px);
    z-index: 0;
    display: flex;
    margin-bottom: 70px;
}

.title-main-project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.p-main-project {
    line-height: 30px;
    vertical-align: top;
}

/* CONTACT PAGE STYLES */
.contact-page-form-extended {
    margin: 146px 170px 154px 170px;
}

.form-extended label {
    display: block;
}

.form-extended input {
    border: 0px;
    background-color: #6B708D1A;
    opacity: 90%;
    height: 70px;
    width: 100%;
}

.form-extended-row {
    margin-top: 40px;
}

.form-extended-email-phone {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.form-extended-email-phone input {
    width: 100%;
}

input,
textarea {
    padding: 20px;
}

.form-extended-email,
.form-extended-phone {
    flex: 1;
}

button.btn {
    border: 0px;
    margin-top: 40px;
    width: 100%;
}

textarea {
    border: 0px;
    background-color: #6B708D1A;
    opacity: 90%;
    height: 200px;
    width: 100%;
    font-family: roboto;
}



/* TABLET SIZES */
@media (max-width: 1007px) {

    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
        margin-top: 10px;
    }

    #services {
        margin: 50px 40px 0 40px;
    }

    #testimonial {
        margin-top: 50px;
    }


    .tablet-hidden {
        display: none;
    }

    .tablet-title {
        font-size: 24px;
    }

    .table-font {
        font-size: 16px;
    }

    .client-link {
        margin: 0 20px 0 20px;
        justify-content: space-evenly;
    }

    .client-link img {
        height: 20px;
    }

    .client-link a {
        margin: 0px;
    }

    .memoji {
        display: none;
    }

    .testimonial-container {
        padding: 60px 30px;
        margin: 0 20px 0 20px;
    }

    #projects {
        margin: 50px 40px 0 40px;
    }

    #cta {
        margin-top: 50px;
    }

    .img-project {
        height: 200px;
    }

    .slide-text {
        padding: 20px;
    }

    .projects-slide {
        margin-top: 20px;
    }

    h4 {
        font-size: 20px;
    }

    .p-fontsize-responsive {
        font-size: 16px;
    }


}


/* MOBILE SIZES */


@media (max-width: 640px) {
    h1 {
        font-size: 24px;
    }

    #services,
    #projects,
    #hero {
        margin: 50px 50px 0 50px;
    }

    #client {
        margin-top: 50px;
    }

    .client-link {
        margin: 0 10px 0 10px;
        justify-content: space-evenly;
    }

    .client-link img {
        height: 20px;
    }


    .memoji {
        display: none;
    }

    .projects-slide {
        flex-wrap: wrap;
    }

    .slide {
        flex: 1 0 100%;
    }

    .mobile-container-center {
        text-align: center;
    }

    .form-contact {
        flex-wrap: wrap;
    }

    .form-email input {
        width: 100%;
    }
}